extends layout

block append scripts
  script(type='text/javascript', src='js/main.js')

block sidemenu
  vc-vertmenu(:model='viewModel.sideMenu', :locale='viewModel.locales[viewState.lang].sidemenu')

block content
  //router-view(@registerlocales="onRegisterLocales" :lang="viewState.lang")
  router-view(:lang="viewState.lang" :locale="localeForCurrentRoute" :shared-locale="currentLocale.shared" v-on:request-data="onRequestData" v-on:request-launch="onRequestLaunch" v-on:request-export="onRequestExport" v-on:request-upload="onRequestUpload")
